<footer class="page-footer">
  <!-- Add some vertical space -->
  <div class="form-group">
    &nbsp;
  </div>
  
  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center bg-dark">
    <span class="text-muted">&copy; {{ "now" | date: "%Y" }} Copyright:
      <a href="{{ site.baseurl }}">
        <strong> {{ site.first_name }} {{ site.last_name }}</strong>
      </a>
    </span>
  </div>
  <!--/.Copyright -->
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}/js/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
