<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO -->
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.first_name }} {{ site.last_name }}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}">
  <meta name="keywords" content="Programming, consultancy">
  <meta property="og:locale" content="en_EN" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">

  <!-- Tracker -->
  {% include tracker.html %}
</head>
