/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}



/* Custom page CSS
-------------------------------------------------- */
/* Containers are made narrower so text text doesn't become
   too wide on a wide screen. */
.narrow {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/* Vertically align icons that are bigger than the text in
   an element to the vertical center */
.contact-icon {
  vertical-align: middle;
  color: #9933CC;
  min-width: 5rem;
}



/* Home page jumbotron */
body {
  padding-top: 5rem;
}

.jumbotron{
    background-image: url('/images/fancy-pants.jpg');
    color: #fff;
}




/* About page */
#bio {
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	overflow: hidden;
}

#bio table {
	border-collapse: collapse;
}

#bio td, th {
	padding: 2px 5px;
	text-align: left;
	vertical-align: top;
}
#bio-image {
	height: 305px;
	width: 226px;
	border: 0 none;
	border-radius: 10px;
	clear: both;
	float: left;
	margin-right: 15px;
	background: url(/images/Pieter-Brandwijk-226x305.jpg);
}




/* Link lists */
.link-list {
	list-style: none;
	padding: .5em 0;
	margin: 0;
}
.link-list li {
	display: block;
	margin-bottom: -1px;
	clear: both;
}
.link-list a {
	display: block;
	position: relative;
	padding: 6px 5px;
	min-height: 46px;

	border-style: solid;
	border-width: 1px 0;
	border-color: #eee;

	text-decoration: none;
}
* html .link-list a {
	height: 46px;
}
.link-list a:hover {
	z-index: 1;
	background: rgb(242,249,255);
	background-color: rgba(0,128,255,0.05);
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}
* html .link-list a:hover {
	background: rgb(242,249,255);
}

.link-list .thumbnail {
	width: 48px;
	height: 48px;
	margin-left:  2px;
	margin-right: 8px;
	background-image: url(../images/icon-leaves.png);
	background-repeat: no-repeat;
	background-position: 0px -48px;
	border: 0;
	float: left;
	clear: both;
}
.link-list a:hover .thumbnail {
	background-position: 0px 0px;
}
.link-list .thumbnail.icon-zip {
	background-image: url(icon-zip.png);
}
.link-list .thumbnail.icon-pdf {
	background-image: url(icon-pdf.png);
}
.link-list .thumbnail.icon-web {
	background-image: url(icon-web.png);
}
.link-list .thumbnail.icon-source {
	background-image: url(icon-source.png);
}
.link-list .thumbnail.icon-ru {
	background-image: url(icon-ru.png);
}
.link-list .thumbnail.icon-justitia {
	background-image: url(icon-justitia.png);
}
.link-list .thumbnail.icon-mse {
	background-image: url(icon-mse.png);
}
.link-list .thumbnail.icon-haskell {
	background-image: url(../images/icon-haskell.png);
}
.link-list .thumbnail.icon-project {
	background-image: url(../images/icon-project.png);
}
.link-list .thumbnail.icon-copyleft {
	width: 48px;
	background-image: url(../images/icon-copyleft.svg);
	background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 48px;
}
.link-list .thumbnail.icon-knight-in-n {
	background-image: url(icon-knight-in-n.png);
}
.link-list .thumbnail.icon-np-puzzle {
	background-image: url(icon-puzzle.png);
}

.link-list .title {
	display: block;
	margin-top: 1px;
	font-size: 20px;
}
.link-list .desc {
	display: block;
	margin-top: 3px;
	font-size: 15px;
	font-family: serif;
	font-style: italic;
	color: black;
}
.link-list .details {
	display: block;
	color: #aaa;
	float: right;
	width: 200px;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 17px;
	margin-top: -1px;
	text-align: right;
	text-shadow: none!important;
}
.link-list .details .date {
	color: #aaa;
}
.link-list a:hover .details,
.link-list a:hover .details .date {
	color: #888;
}
